/*P:Removing default padding and margin*/

div.title{
    font-family: Arial;
    font-weight: lighter;
    font-size: 20px;
}

div.subtitle{
    font-family: Arial;
    font-weight: lighter;
    font-size: 20px;
}
